.menu {
    position: absolute;
    top: 0;
    right: 0;
}

.menu__item {
    background-color: rgba(100, 100, 100, 0.5);
    min-width: 5px;
    max-width: 100px;
    margin: 10px 5px;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    display: inline-block;
}