.menu {
  position: absolute;
  top: 21px;
  right: 15px;
}

.menu__item {
  background-color: rgba(51, 50, 103, 0.5);
  min-width: 5px;
  max-width: 100px;
  margin: -2px 5px;
  padding: 4px 13px;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  line-height: 1;
  border-radius: 25px;
}

.menu__item--active {
  color: gold;
}

.menu__item:hover {
  cursor: pointer;
  background-color: rgba(200, 100, 200, 0.5);
}

.menu-item-group {
  display: inline-block;
  border-radius: 25px;
}
.menu-item-group .menu__item {
    display: inline-block;
    border-radius: 0;
}
.menu-item-group .menu__item--radio {
  margin: 0;
}
.menu-item-group .menu__item--radio:first-of-type {
  border-right: solid 2px #555;
  margin-left: 5px;
}
.menu-item-group .menu__item--radio:last-of-type {
  margin-right: 5px;
}

.sources {
  z-index: 0;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 10px;
  padding: 0;
  margin: 0 -15px;
  width: 110%;
}

.sources * {
  padding: 0;
  display: inline-block;
  height: 15px;
}