.reading-list {
    width: 28%;
    display: inline-block;
    float: left;
    padding: 10px;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
}

.reader-view {
    margin-top: 10px;
    padding: 10px 0;
    background-color: white;
    box-shadow: -1px 0px 3px #ccc;
    width: 70%;
    display: inline-block;
    height: 100vh;
    overflow-y: auto;
}

.reader-view::-webkit-scrollbar {
    width: 9px;
    height: 1px;
}

.reader-view::-webkit-scrollbar-corner {
    border-radius: 50px;
}

.reader-view::-webkit-scrollbar-thumb {
    border: solid 1px #ddd;
    background-color: #999;
}

.reader-view::-webkit-scrollbar-track {
    border: none;
    background: #ccc;
}


.reading-list::-webkit-scrollbar {
    width: 9px;
    height: 1px;
}

.reading-list::-webkit-scrollbar-corner {
    border-radius: 50px;
}

.reading-list::-webkit-scrollbar-thumb {
    border: solid 1px #ddd;
    background-color: #999;
}

.reading-list::-webkit-scrollbar-track {
    border: none;
    background: #ccc;
}


.reader-view .article__description {
    color: #666;
    line-height: 1.5rem;
    font-size: .875rem;
    text-align: left;
    border-top: solid 1px #eee;
    display: block;
    max-height: 230px;
    overflow: hidden;
    max-height: 100%;
}


.article { margin: 0; padding: 0 10px 20px 10px; box-shadow: none; }
.article { margin: 0; padding: 0 10px 20px 10px; box-shadow: none; }
